/* 
    Created on : 27/10/2015, 10:04:47
    Author     : emerson
*/

body {
    font-size: 12px;
    font-family: sans-serif;
}

.semBorda tr, semBorda row, .semBorda td {
    border: none !important;
}

.ui-icon.novo {
    background-image: url("../imgs/novo.png") !important;
}

.ui-icon.buscar {
    background-image: url("../imgs/buscar.png") !important;
}

.ui-icon.cancelar {
    background-image: url("../imgs/cancelar.png") !important;
}

.ui-icon.confirmar {
    background-image: url("../imgs/confirmar.png") !important;
}

.ui-icon.alterar {
    background-image: url("../imgs/alterar.png") !important;
}

.ui-icon.limpar {
    background-image: url("../imgs/limpar.png") !important;
}